<div class="top">
    <div class="container">
        <h3 class="headding">Potepan Shareでまだ体験したことのない旅をしよう</h3>
        <%= form_with(url: search_place_path, local: true, method: :get, class: "form_place_search") do |f| %>
            <%= f.text_field :word, placeholder: "エリア" %>
            <%= f.submit "検索" %>
        <% end %>
    </div>
<end>
