<% @rooms.each do |room| %>
    <table align="left" class="room_table">
        <tr><th colspan="2">ルーム一覧</th></tr>
        <tr>
            <td colspan="2">
                <%= image_tag room.room_image.url, class: "image" %>
            </td>
        </tr>
        <tr>
            <th>部屋名</th>
            <td><%= link_to room.name, room %></td>
        </tr>
        <tr>
            <th>住所</th>
            <td><%= link_to room.place, room %></td>
        </tr>
        <tr>
            <th>価格</th>
            <td><%= link_to room.price, room %></td>
        </tr>
    </table>
<% end %>