
  .header_container{
    text-align: left;
  }
  .logo{
    text-align: left;
    font-size: 20px;
    float: left;
    padding-right: 3px;
  }
  .search_form{
    text-align: left;
    display: inline;
    float: left;
    padding-right: 3px;
    height: 100px;
  }
  .search_place_form{
    text-align: left;
    display: inline;
    float: left;
  }
  .search_form, text_field{
    height: 60px;
  }
  .search_place_form, text_field{
    height: 60px;
  }
  .header_menu_right{
    text-align: right;
    float: right;
    font-size: 20px;
  }
  .header_menu_left{
    float: left;
    text-align: left;
    font-size: 20px;
    padding-left: 23px;
  }
  .header_user_registered{
    padding-right: 23px;
  }
  
  
  .notice {
    text-align: center;
    height: 6px;
    font-size: 25px;
    padding-top: 60px;
  }
  table{
    padding-left: 20px;
    text-align: center;
  }
  .body{
    padding-top: 100px;
  }