// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.image{
    width: 330px;
    height: 230px;
}
.room_table th {
  background-color: #75A9FF;
  padding: 10px 20px;
}
  
.room_table td {
  background-color: #D9E5FF;
  padding: 10px 20px;
}