// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.input-image {
  width: 90px;
  height: 90px;
  border-radius: 60px;
}

.user_table th {
  background-color: #77F9C3;
  padding: 10px 20px;
}
  
.user_table td {
  background-color: #CEF9DC;
  padding: 10px 20px;
}