.container{
    text-align: center;
}
.headding{
    font-size: 26px;
}
.container{
    text-align: center;
}
.headding{
    padding-top: 140px;
    padding-bottom: 10px;
    font-size: 30px;
}
.form_search_top{
    padding-bottom: 520px;
}